@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
   background-color: #081b29;
   display: flex;
   flex-direction: column;
   justify-content: start;
}
.nav{
   margin-bottom: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px 40px 10px 40px;
    background-color: #fff;
    
   
}
.nav .label{
    color: #006266;
    font-size: 25px;
    padding-right: 720px;
}
.back a i{
    color: #006266;
    font-size: 33px;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 35px #006266;
   transition: 0.5s ease-in-out;
}
.back a i:hover{
    color: #fff;
    font-size: 33px;
    background-color: #006266;
    transition: 0.5s ease-in-out;
}
.wrapper{
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #fff;
    overflow: hidden;
    box-shadow: 0 0 35px #006266;
}

.wrapper .form-box{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    /* background-color: rebeccapurple; */
    flex-direction: column;
    justify-content: center;
  
    
}

.wrapper .form-box.login{
    left: 0;
    padding: 0 60px 0 40px;
}
.wrapper .form-box.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}
.wrapper.active .form-box.login .animation{
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}
.wrapper .form-box.register{
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
}
.wrapper.active .form-box.register{
    pointer-events: auto;
}
.wrapper .form-box.register .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: 0.7s;
    transition-delay: calc(.1s * var(--j));
}
.wrapper.active .form-box.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2{
    font-size: 35px;
    color: #fff;
    text-align: center;
}

.form-box .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    
    margin: 25px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-right: 23px;
    border-bottom: 2px solid #fff;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: 0.5s;
}
.input-box input:focus,
.input-box input:valid{
    border-bottom-color: #006266;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
    color: #006266;
}

.input-box i{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}
.input-box input:focus~i,
.input-box input:valid~i{
    color: #006266;
}

.btn{
    position: relative;
    width: 100%;
    height: 45px;
    border: 2px solid #006266;
    background: transparent;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    z-index: 1;
    font-weight: 600;
    overflow: hidden;
}
.btn::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#006266,#081b29,#006266,#081b29);
    z-index: -1;
    transition: 0.5s;
}
.btn:hover::before {
    top: 0;
}


.form-box .logreg-link{
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;

}
.logreg-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: .25s ease;
}

.logreg-link p a:hover{
    transition: .25s ease;
    text-decoration: underline;
    color: #006266;
}

.wrapper .info-text{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
    /* display: none; */
}
.wrapper .info-text.login .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: 1s ease;
    transition-delay: calc(.1s * var(--j));
}
.wrapper.active .info-text.login .animation{
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}
.wrapper .info-text.register{
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
    
}
.wrapper.active .info-text.register{
    pointer-events: auto;
}
.wrapper .info-text.register .animation{
    transform: translateX(-120%);
    transition: 0.7s ease;
    opacity: 0;
    transition-delay: calc(.1s * var(--j));
    filter: blur(10px);
}
.wrapper.active .info-text.register .animation{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}
.info-text h2{
    font-size: 46px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}
.info-text p{
    font-size: 32px;
    color: #fff;
}

.wrapper .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    border-bottom: 3px solid #006266;
    background: linear-gradient(45deg, #006266, #081b29);
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}
.wrapper.active .bg-animate{
    transform: rotate(0deg) skewY(0deg);
    transition-delay: 0.5s;

}
.wrapper .bg-animate2{
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    border-top: 3px solid #006266;
    background:#081b29;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}
.wrapper.active .bg-animate2{
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1.2s;
}

@media (max-width: 991.98px) { 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh; 
       background-color: #081b29;
       display: flex;
       flex-direction: column;
       justify-content: start;
    }
    .nav .label{
        padding-right: 510px;
    }
    .nav{
       margin-bottom: 100px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        padding: 10px 40px 10px 40px;
        background-color: #fff; 
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 0px 50px 0 20px;
    }
    .wrapper .form-box.register{
        right: 0;
        padding: 0 20px 0 40px;
        pointer-events: none;
    }
    .info-text h2{
        font-size: 46px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .info-text p{
        font-size: 32px;
        color: #fff;
    }

 }

 @media (max-width: 778.98px) { 
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh; 
       background-color: #081b29;
       display: flex;
       flex-direction: column;
       justify-content: start;
       
    }
    .nav{
       margin-bottom: 50px;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        padding: 10px 40px 10px 40px;
        background-color: #fff;
    }
    .nav .label{
        padding-right: 400px;
    }
    .wrapper{
        position: relative;
        width: 700px;
        height: 380px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .form-box{
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        display: flex;
        /* background-color: rebeccapurple; */
        flex-direction: column;
        justify-content: center;   
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 50px 50px 0 40px;
        
        /* display: none; */
    }
    .form-box h2{
        font-size: 25px;
        color: #fff;
        text-align: center;
    }
    
    .form-box .input-box{
        position: relative;
        width: 100%;
        height: 40px;
        
        margin: 15px 0;
    }
    
    .input-box input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        padding-right: 10px;
        border-bottom: 2px solid #fff;
        font-size: 12px;
        color: #fff;
        font-weight: 350;
        transition: 0.5s;
    }
    .input-box label{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 12px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }
    .input-box input:focus~label,
.input-box input:valid~label{
    top: -4px;
    color: #006266;
}
.form-box .logreg-link{
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;

}
.logreg-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: .25s ease;
}
.btn{
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid #006266;
    background: transparent;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    font-weight: 500;
    overflow: hidden;
}

.wrapper .form-box.register{
    right: 0;
    padding: 30px 20px 0 40px;
    pointer-events: none;
}
.info-text h2{
    font-size: 36px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}
.info-text p{
    font-size: 22px;
    color: #fff;
}
.info-text h2{
    font-size: 50px;
    color: #fff;
    line-height: 1.3;
    text-transform: uppercase;
}
.info-text p{
    font-size: 38px;
    color: #fff;
}
.wrapper .bg-animate{
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    border-bottom: 3px solid #006266;
    background: linear-gradient(45deg, #006266, #081b29);
    transform: rotate(10deg) skewY(41deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: 1.6s;
}
.wrapper.active .bg-animate{
    transform: rotate(0deg) skewY(0deg);
    transition-delay: 0.5s;

}
.wrapper .bg-animate2{
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    border-top: 3px solid #006266;
    background:#081b29;
    transform: rotate(0deg) skewY(0deg);
    transform-origin: bottom left;
    transition: 1.5s ease;
    transition-delay: .5s;
}
.wrapper.active .bg-animate2{
    transform: rotate(-11deg) skewY(-40deg);
    transition-delay: 1.2s;
}


    
    
    
    
 }
 @media (max-width: 728.98px) {
    .nav .label{
        padding-right: 400px;
    }
    .wrapper{
        position: relative;
        width: 600px;
        height: 350px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 0px 50px 0 20px;
    }
    .wrapper .form-box.register{
        right: 0;
        padding: 0 40px 0 40px;
        pointer-events: none;
    }
    .info-text h2{
        font-size: 34px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .info-text p{
        font-size: 20px;
        color: #fff;
    }
    .wrapper .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #006266;
        background: linear-gradient(45deg, #006266, #081b29);
        transform: rotate(10deg) skewY(50deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    .wrapper.active .bg-animate{
        transform: rotate(0deg) skewY(0deg);
        transition-delay: 0.5s;
    
    }
    .wrapper .bg-animate2{
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #006266;
        background:#081b29;
        transform: rotate(0deg) skewY(0deg);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s;
    }
    .wrapper.active .bg-animate2{
        transform: rotate(-11deg) skewY(-50deg);
        transition-delay: 1.2s;
    }
 }
 @media (max-width: 680.98px) {
    .nav .label{
        padding-right: 300px;
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 0px 50px 0 20px;
    }
    .wrapper .form-box.register{
        right: 0;
        padding: 0 40px 0 20px;
        pointer-events: none;
    }
    .wrapper .info-text.login{
        right: 0;
        text-align: right;
        padding: 0 40px 60px 80px;
        /* display: none; */
    }
    .wrapper .info-text.register{
        left: 0;
        text-align: left;
        padding: 0 120px 100px 20px;
        pointer-events: none;
        
    }
    .info-text h2{
        font-size: 32px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .info-text p{
        font-size: 20px;
        color: #fff;
    }
    .wrapper{
        position: relative;
        width: 500px;
        height: 350px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #006266;
        background: linear-gradient(45deg, #006266, #081b29);
        transform: rotate(10deg) skewY(50deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    .wrapper.active .bg-animate{
        transform: rotate(0deg) skewY(0deg);
        transition-delay: 0.5s;
    
    }
    .wrapper .bg-animate2{
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #006266;
        background:#081b29;
        transform: rotate(0deg) skewY(0deg);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s;
    }
    .wrapper.active .bg-animate2{
        transform: rotate(-11deg) skewY(-53deg);
        transition-delay: 1.2s;
    }
 }
 @media (max-width: 575.98px) {
    .nav .label{
        padding-right: 200px;
    }
    .wrapper{
        position: relative;
        width: 450px;
        height: 350px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #006266;
        background: linear-gradient(45deg, #006266, #081b29);
        transform: rotate(10deg) skewY(52deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    .wrapper.active .bg-animate{
        transform: rotate(0deg) skewY(0deg);
        transition-delay: 0.5s;
    
    }
    .wrapper .bg-animate2{
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #006266;
        background:#081b29;
        transform: rotate(0deg) skewY(0deg);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s;
    }
    .wrapper.active .bg-animate2{
        transform: rotate(-11deg) skewY(-53deg);
        transition-delay: 1.2s;
    }
    .btn{
    position: relative;
    width: 100%;
    height: 30px;
    border: 2px solid #006266;
    background: transparent;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    z-index: 1;
    font-weight: 500;
    overflow: hidden;
}
.wrapper .form-box.login{
    left: 0;
    padding: 0px 50px 0 20px;
}
.wrapper .form-box.register{
    right: 0;
    padding: 0 20px 0 40px;
    pointer-events: none;
}
.info-text h2{
    font-size: 38px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}
.info-text p{
    font-size: 26px;
    color: #fff;
}
.wrapper .info-text.login{
    right: 0;
    text-align: right;
    padding: 0 40px 60px 40px;
    /* display: none; */
}
.wrapper .info-text.register{
    left: 0;
    text-align: left;
    padding: 0 120px 80px 40px;
    pointer-events: none;
    
}
 }
 @media (max-width: 480.98px) {
    .nav .label{
        padding-right: 160px;
        font-size: 22px;
        line-height: 30px;
    }
    .wrapper{
        position: relative;
        width: 400px;
        height: 380px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #006266;
        background: linear-gradient(45deg, #006266, #081b29);
        transform: rotate(10deg) skewY(53deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    .wrapper.active .bg-animate{
        transform: rotate(0deg) skewY(0deg);
        transition-delay: 0.5s;
    
    }
    .wrapper .bg-animate2{
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #006266;
        background:#081b29;
        transform: rotate(0deg) skewY(0deg);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s;
    }
    .wrapper.active .bg-animate2{
        transform: rotate(-11deg) skewY(-59deg);
        transition-delay: 1.2s;
    }
    .input-box i{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 15px;
        color: #fff;
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 0px 50px 0 20px;
    }
    .wrapper .form-box.register{
        right: 0;
        padding: 0 20px 0 40px;
        pointer-events: none;
    }
    .info-text h2{
        font-size: 40px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .info-text p{
        font-size: 28px;
        color: #fff;
    }
    .wrapper .info-text.login{
        right: 0;
        text-align: right;
        padding: 0 60px 60px 20px;
        /* display: none; */
    }
    .wrapper .info-text.register{
        left: 0;
        text-align: left;
        padding: 0 120px 80px 40px;
        pointer-events: none;
        
    }
 }
 @media (max-width: 420.98px) {
    .nav .label{
        padding-right: 100px;
        font-size: 22px;
        line-height: 30px;
    }
    .wrapper{
        position: relative;
        width: 350px;
        height: 380px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #006266;
        background: linear-gradient(45deg, #006266, #081b29);
        transform: rotate(10deg) skewY(60deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    .wrapper.active .bg-animate{
        transform: rotate(0deg) skewY(0deg);
        transition-delay: 0.5s;
    
    }
    .wrapper .bg-animate2{
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #006266;
        background:#081b29;
        transform: rotate(0deg) skewY(0deg);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s;
    }
    .wrapper.active .bg-animate2{
        transform: rotate(-11deg) skewY(-68deg);
        transition-delay: 1.2s;
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 0px 10px 0 20px;
    }
    .wrapper .form-box.register{
        right: 0;
        padding: 0 20px 0 20px;
        pointer-events: none;
    }
    .wrapper .info-text.register{
        left: 0;
        text-align: left;
        padding: 0 100px 100px 20px;
        pointer-events: none;
        
    }
    .info-text h2{
        font-size: 36px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .info-text p{
        font-size: 22px;
        color: #fff;
    }
 }
 @media (max-width: 355.98px) {
    .nav .label{
        padding-right: 60px;
        font-size: 22px;
        line-height: 30px;
    }
    .wrapper{
        position: relative;
        width: 300px;
        height: 350px;
        background: transparent;
        border: 2px solid #fff;
        overflow: hidden;
        box-shadow: 0 0 35px #006266;
      
    }
    .wrapper .bg-animate{
        position: absolute;
        top: -4px;
        right: 0;
        width: 850px;
        height: 600px;
        border-bottom: 3px solid #006266;
        background: linear-gradient(45deg, #006266, #081b29);
        transform: rotate(10deg) skewY(64deg);
        transform-origin: bottom right;
        transition: 1.5s ease;
        transition-delay: 1.6s;
    }
    .wrapper.active .bg-animate{
        transform: rotate(0deg) skewY(0deg);
        transition-delay: 0.5s;
    
    }
    .wrapper .bg-animate2{
        position: absolute;
        top: 100%;
        left: 250px;
        width: 850px;
        height: 700px;
        border-top: 3px solid #006266;
        background:#081b29;
        transform: rotate(0deg) skewY(0deg);
        transform-origin: bottom left;
        transition: 1.5s ease;
        transition-delay: .5s;
    }
    .wrapper.active .bg-animate2{
        transform: rotate(-11deg) skewY(-72deg);
        transition-delay: 1.2s;
    }
    .wrapper .form-box.login{
        left: 0;
        padding: 10px 10px 0 10px;
    }
    .wrapper .form-box.register{
        right: 0;
        padding: 0 20px 0 20px;
        pointer-events: none;
    }
    .wrapper .info-text.register{
        left: 0;
        text-align: left;
        padding: 0 100px 100px 20px;
        pointer-events: none;
        
    }
    .wrapper .info-text.login{
        right: 0;
        text-align: right;
        padding: 0 10px 120px 20px;
        /* display: none; */
    }
    .info-text h2{
        font-size: 30px;
        color: #fff;
        line-height: 1.2;
        text-transform: uppercase;
    }
    .info-text p{
        font-size: 20px;
        color: #fff;
    }
 }
